.media_socials{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
}

@media (min-width: 576px) {  }


@media (min-width: 768px) { 
    
 }

@media (min-width: 992px) { 
    .media_socials{
        gap: 0rem;
        width: 100%;
    }
 }


@media (min-width: 1200px) { 
   
 }

@media (min-width: 1400px) { 

}