/* footer{

    background-image: url('../../footer.jpg');
    min-height: 350px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer-overlay{
    background: rgba(255, 255, 255, .5)
}
.card-map{
    width: 99%;
    height: auto;
} */